{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Upload Deck</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container my-4">
        <header class="mb-4">
            <h1>Welcome to the Mobile Pitch Deck Converter</h1>
            <p class="lead">This service allows you to upload your startup's pitch deck and get it converted into a mobile-friendly format.</p>
        </header>
        <section class="deck-upload-section">
            <form method="post" action="/upload/" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="upload-btn-wrapper">
                    <button type="button" class="btn btn-primary btn-choose">Choose a file</button>
                    <input type="file" name="deck" id="myfile" style="display: none;" />
                    <span id="file-name" class="file-name ml-3"></span>
                </div>

                <div class="submit-btn-wrapper mt-3">
                    <button type="submit" class="btn btn-primary btn-upload" disabled>Upload</button>

                </div>
                <div id="confirmation-message" class="confirmation-message mt-3" style="display: none;">Your deck is being uploaded. Please wait...</div>
            </form>
        </section>
    </div>

    <script>
        const fileInput = document.querySelector('#myfile');
        const uploadButton = document.querySelector('.btn-upload');
        const confirmationMessage = document.querySelector('#confirmation-message');
        const btnChoose = document.querySelector('.btn-choose');
        const fileName = document.querySelector('#file-name');
        const form = document.querySelector('form');

        btnChoose.addEventListener('click', function() {
            fileInput.click();
        });

        fileInput.addEventListener('input', function() {
            if (fileInput.files.length > 0) {
                uploadButton.removeAttribute('disabled');
                fileName.textContent = `Selected file: ${fileInput.files[0].name}`;
            } else {
                uploadButton.setAttribute('disabled', true);
                fileName.textContent = '';
            }
        });

        form.addEventListener('submit', function(event) {
            event.preventDefault();  // Prevent form submission
            confirmationMessage.style.display = 'block';  // Display the upload message

            // Submit the form after a short delay
            setTimeout(function() {
                form.submit();
            }, 500);
        });
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>
