{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html>
<head>
    <title>View Pitch Deck</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container my-4">
        <header class="mb-4">
            <h1>Mobile Deck Converter</h1>
            <p class="lead">Pitch Deck Uploaded: <strong>{{ deck.original_deck.name|filename }}</strong></p>
        </header>

        <section class="deck-info-section">
            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Original Pitch Deck</h5>
                            <ul class="list-unstyled">
                                <li><strong>Number of Pages:</strong> {{ number_of_pages }}</li>
                                <li><strong>Number of Images:</strong> {{ number_of_images }}</li>
                                <li><strong>File Size:</strong> {{ deck.original_deck.size }} bytes</li>
                            </ul>
                            <a href="{{ deck.original_deck.url }}" class="btn btn-primary">Open Original Pitch Deck</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Mobile Friendly Pitch Deck</h5>
                            {% if deck.mobile_friendly_deck %}
                                <ul class="list-unstyled">
                                    <li><strong>Number of Pages:</strong> {{ number_of_pages_mobile }}</li>
                                    <li><strong>Number of Images:</strong> {{ number_of_images_mobile }}</li>
                                    <li><strong>File Size:</strong> {{ deck.mobile_friendly_deck.size }} bytes</li>
                                </ul>
                                <a href="{{ deck.mobile_friendly_deck.url }}" class="btn btn-primary">Open Mobile Friendly Pitch Deck</a>
                            {% else %}
                                <p>Pitch Deck is still processing. Please check back later.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>
