{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>View Pitch Deck</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container my-4">
        <h1>Mobile Deck Converter</h1>
        <h2>Pitch Deck Uploaded</h2>
    <div class="row d-flex">
    <div class="col d-flex flex-column">
        <div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Original Pitch Deck</h5>
                <p class="card-text">
                    <strong>Number of Pages:</strong> {{ number_of_pages }}<br>
                    <strong>Number of Images:</strong> {{ number_of_images }}<br>
                    <strong>File Size:</strong> {{ deck.original_deck.size }} bytes<br>
                    <strong><a href="{{ deck.original_deck.url }}">Open Original Pitch Deck</a></strong>
                </p>
            </div>
        </div>
    </div>
    </div>
        <div class="col d-flex flex-column">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Mobile Friendly Pitch Deck</h5>
                {% if deck.mobile_friendly_deck %}
                    <p class="card-text">
                        <strong>Number of Pages:</strong> {{ number_of_pages_mobile }}<br>
                        <strong>Number of Images:</strong> {{ number_of_images_mobile }}<br>
                        <strong>File Size:</strong> {{ deck.mobile_friendly_deck.size }} bytes<br>
                        <strong><a href="{{ deck.mobile_friendly_deck.url }}">Open Mobile Friendly Pitch Deck</a></strong>
                    </p>
                {% else %}
                    <p class="card-text">Processing</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</div>


        <div class="accordion mt-3" id="accordion">
    <div class="card">
        <div class="card-header" id="headingText">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseText" aria-expanded="false" aria-controls="collapseText">
                Extracted Text: ({{ extracted_text|length }} pages)
                </button>
            </h2>
        </div>
        <div id="collapseText" class="collapse" aria-labelledby="headingText" data-parent="#accordion">
            <div class="card-body">
                {% for text in extracted_text %}
                    <h3>Page {{ forloop.counter }}</h3>
                    <p>{{ text }}</p>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingPhrases">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsePhrases" aria-expanded="false" aria-controls="collapsePhrases">
                Noun Phrases: ({{ noun_phrases|length }} pages)
                </button>
            </h2>
        </div>
        <div id="collapsePhrases" class="collapse" aria-labelledby="headingPhrases" data-parent="#accordion">
            <div class="card-body">
                {% for phrase in noun_phrases %}
                    <h3>Page {{ forloop.counter }}</h3>
                    <p>{{ phrase }}</p>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingEntities">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEntities" aria-expanded="false" aria-controls="collapseEntities">
                Named Entities: ({{ named_entities|length }} pages)
                </button>
            </h2>
        </div>
        <div id="collapseEntities" class="collapse" aria-labelledby="headingEntities" data-parent="#accordion">
            <div class="card-body">
                {% for entity in named_entities %}
                    <h3>Page {{ forloop.counter }}</h3>
                    <p>{{ entity }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
